body {
  background: #0f172a;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  color: white;
  box-shadow: 0 0 20px cyan;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #1f2937;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background: cyan;
  border: none;
  cursor: pointer;
}
