body {
  background: #020617;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 420px;
  background: #020617;
  border-radius: 20px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 40px cyan;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#chat-box {
  height: 320px;
  border: 1px solid #0ea5e9;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  background: #020617;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background: cyan;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: white;
}
